{{ define "header" }}
    <title>{{ .Site.Params.Seo.Title }} | {{ .Site.Params.Seo.Description }}</title>
    <meta name="description" content="{{- .Site.Params.Seo.Description -}}">
    <meta property="og:title" content="{{ .Site.Params.Seo.Title }} | {{ .Site.Params.Seo.Description }}">
    <meta property="og:description" content="{{- .Site.Params.Seo.Description -}}">

    <link href="/assets/dist/blog.bundle.css" rel="stylesheet" rel="preload" as="style">
    <noscript><link rel="stylesheet" href="/assets/dist/blog.bundle.css"></noscript>
{{ end }}

{{ define "navbar" }}
    {{ partial "navbar-2.html" (dict "baseURL" .Site.BaseURL "title" .Site.Title "hasToggleButton" true "navBrandURL"  .Site.BaseURL ) }}
{{ end }}

{{ define "content" }}
<div class="sidebar" id="sidebar">
    <div class="sidebar-tree">
      <input type="text" name="filtr-search" value="" placeholder="Search" data-search="" id="search-box" />
      <ul class="tree" id="tree">
        <li id="list-heading"><a href="#" data-filter="all">{{.Title}}</a></li>
        <div class="subtree">
            {{ partial "sections.html" .Sections }}
        </div>
      </ul>
    </div>
  </div>
  <div class="content container-fluid" id="content">
    <div class="content-cards">
      <div class="container-fluid filtr-container post-cards" id="post-cards">
        {{ $paginator := .Paginate .Site.RegularPages 200 }}
        {{ range $paginator.Pages }}
          {{ partial "cards/post.html" . }}
        {{ end }}
      </div>
      <div class="paginator">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "scripts" }}
    <script src="/assets/dist/blog.bundle.js"></script>
{{ end }}
