{{ define "header" }}
<title>{{ .Page.Title }}</title>
<meta name="description" content="{{ .Page.Summary }}">
<meta property="og:title" content="{{ .Page.Title }}">
<meta property="og:description" content="{{ .Page.Summary }}">
<meta property="og:type" content="article">

<meta name="twitter:card" content="summary">
<meta name="twitter:image" content='{{ partial "helpers/get-hero.html" }}'>
<meta name="twitter:title" content="{{ .Page.Title }}">
<meta name="twitter:description" content="{{ .Page.Summary }}">
<meta name="twitter:site" content="@trepixxx">

{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
<meta property="article:author" content="{{ .Site.Params.Seo.Name }}">

<!-- <meta property="article:tag" content=""> -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css"
/>
<link href="/assets/dist/post.bundle.css" rel="stylesheet" rel="preload" as="style">
<noscript><link rel="stylesheet" href="/assets/dist/post.bundle.css"></noscript>
{{ end }}

{{ define "navbar" }}
    {{ partial "navbar-empty.html" (dict "baseURL" .Site.BaseURL "title" .Site.Title "hasToggleButton" false "navBrandURL"  "/blog") }}
{{ end }}

{{ define "content" }}
<div class="container p-0 read-area">
  <!--Hero Area-->
  {{ $base64_image := base64Encode (readFile (path.Join "static" (partial "helpers/get-hero.html" . ))) }}
  <div class="hero-area col-sm-12" style="background-image: url('data:image/png;base64, {{ $base64_image }}');">
  </div>

  <!--Content Start-->
  <div class="page-content">
    <div class="author-profile ml-auto align-self-lg-center">
      {{ $base64_image := base64Encode (readFile (path.Join "static" (partial "helpers/get-author-image.html" . ))) }}
      <img class="rounded-circle" loading="lazy" src='data:image/png;base64, {{ $base64_image }}' alt="Trepix avatar"/>
      <h5 class="author-name">{{ partial "helpers/get-author-name.html" . }}</h5>
      <p>{{ .Page.Date.Format "January 2, 2006" }}</p>
    </div>

    <div class="title">
      <h1>{{ .Page.Title }}</h1>
    </div>

    <div class="post-content" id="post-content">
      {{ .Page.Content }}
    </div>

    <!--- Improve this page button --->
    {{ if .Site.Params.GitRepo }}
      <div class="btn-improve-page">
          <a href="{{ .Site.Params.GitRepo }}/edit/source/content/{{ .File.Path }}">
            <i class="icon-fork"></i>
            Improve This Page
          </a>
      </div>
    {{ end }}

    <!---Next and Previous Navigator -->
  <hr />
    {{ partial "next-prev-navigator.html" . }}
  <hr />
  <!-- Add Disqus forum  -->
  {{ if .Site.DisqusShortname }}
      {{ partial "disqus.html" . }}
  {{ end }}
</div>
{{ end }}


{{ define "scripts" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script src="/assets/dist/post.bundle.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
{{ if .Params.math }}
    {{ partial "math.html" . }}
{{ end }}
{{ end }}
