{{ $categories := split (trim .Dir "blog/") "/" }}
{{ $chainedCategories := slice }}
{{ range $index, $element := $categories }}
    {{ if eq $index 0 }}
        {{ $chainedCategories = $chainedCategories | append $element }}
    {{ else }}
        {{ $elementBefore := index ($categories) (sub $index 1) }}
        {{ $chainedElement := (printf "%s-%s" $elementBefore $element) }}
        {{ $chainedCategories = $chainedCategories | append $chainedElement }}
    {{ end }}
{{ end }}
{{ return delimit $chainedCategories "," }}
