<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- ============ import common css ========== -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    rel="stylesheet" rel="preload"
    as="style"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
>
<noscript>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    rel="stylesheet"
    as="style"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
</noscript>

<link rel="stylesheet" href="/assets/dist/common.bundle.css">

<!--=================== cdn ==============================-->

<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600&display=swap" rel="stylesheet" rel="preload" as="style">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600&display=swap"></noscript>

<!--================= fab-icon =========================-->
<link rel="icon" type="image/png" href="/assets/images/logo-inverted.png" />
