<div class="container-fluid home" id="home">
  {{ $svg := readFile .Site.Params.background | safeHTML }}
  {{ $svg := replace $svg "#" "%23" }}
  <div
    class="background container-fluid"
    style="background-image: url('data:image/svg+xml;utf8,{{ $svg }}');"
  ></div>
  <div class="container content text-center">
    {{ $base64_image := base64Encode (readFile (path.Join "static" .Site.Params.author.image)) }}
    <!--   -->
    <img loading="lazy" src="data:image/png;base64, {{ $base64_image }}"
      class="rounded-circle mx-auto d-block img-fluid" alt="Trepix avatar" width="140" height="140"
    />
    <h1 class="greeting">Hi, I am
      {{ if .Site.Params.author.nickname }}
        {{ .Site.Params.author.nickname }}
      {{ else if .Site.Params.author.name }}
        {{ .Site.Params.author.name }}
      {{ else }}
        Jane Doe
      {{ end }}
    </h1>
    <div class="typing-carousel">
      <span id="ityped" class="ityped"></span>
      <span class="ityped-cursor"></span>
    </div>
    <ul id="typing-carousel-data">
      {{ range .Site.Params.author.summary }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    {{ if .Site.Data.sections }}
      {{ range first 1 (where (sort .Site.Data.sections "section.weight") ".section.enable" true) }}
        <a href="#{{ replace (lower .section.name) " " "-" }}"><i class="arrow bounce icon-down-open"></i></a>
      {{ end }}
    {{ end }}
  </div>
</div>
